*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

#containerLogin{
    height: 200px;
    width: 450px;
    border: solid 1px #000;
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px #1f1b1bad;
}

h1{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin-top: -15px;
    margin-bottom:10px;
}

#button{
    height: 30px;
    width: 100px;
    color: #fff;
    background-color: red;
    margin-left: 300px;
    margin-top: 10px;
}

