*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#containerConteudoUsuario{
    height: auto;
    min-height: 450px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    border: solid 1px #000;
    padding: 50px;
}

.campos{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cadastroInformacoesPessoais  {
    width: 270px;
    height: 55px;
    float: left;
    text-align: right;
    font-size: 1.1em;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    background-color: #ededed;
}
.cadastroEntradaDeDados {
    width: 600px;
    height: auto;
    margin-left: 10px;
    padding-top: 10px;
  
}

input[type=text],[type=password]{
    width: 500px;
    height: 35px;
}

#btnSalvar{
    height: 40px;
    width: 80px;
    float: right;
    background-color: green;
    color: white;
}


h4
{
    font-size: 1.9em;
}

#containerExibiDados{
    height: auto;
    min-height: 300px;
    width: 680px;
    background-color: aliceblue;
    border: solid 1px #000;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    padding: 8px;
}

#containerExibiDados>ul>li{
    display: inline-block;
    border: solid 1px #000;
    height: 30px;
    width: 200px;
    background-color: blue;
    color: white;
    margin-top: 20px;
    font-size: 1.2em;
    margin-left: 10px;
}

#containerDadosEopcoes{
    min-height: 50px; 
    height: auto;
    width: 420px;
   /* border: solid 1px #000; */
    margin-left: 18px;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#containerDadosEopcoes > .id, .nome , .opcoes{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.id{
    height: 40px;
    width: 200px;
    border: solid 1px #000;
}

.nome{
    height: 40px;
    width: 200px;
    border: solid 1px #000;
}

.opcoes{
    height: 40px;
    width: 200px;
   /* border: solid 1px #000; */
}

.excluir, .pesquisar, .editar{
    width: 40px;
    height: 40px;
/*    background-color: black;*/
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.excluir:hover, .editar:hover, .pesquisar:hover {
    transform: scale(1.3);
    transition: 1s;
}